<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="h-100" layout:decorator="_common/layout">

<head>

<meta charset="UTF-8">
<link rel="contents" th:href="@{/user}" id="index_url">

<title>USERS</title>

</head>

<body>
	<div layout:fragment="contents" class="pt-5">

		<h2 class="card-title">ユーザー登録</h2>

		<div class="row">
			<div class="col-8">

				<div class="card">

					<form class="card-body was-validated" novalidate th:object="${form}" method="POST" th:action="@{/signup}">

						<div class="form-group form-row">
							<label class="col-4" for="username">アカウント</label>
							<!--  -->
							<input class="form-control col" th:field="*{username}" required pattern="^[a-zA-Z0-9]{8,16}">
							<div class="valid-feedback">必須項目／半角英数／8～16文字</div>
							<div class="invalid-feedback">必須項目／半角英数／8～16文字</div>
						</div>

						<div class="form-group form-row">
							<label class="col-4" for="email">メールアドレス</label>
							<!--  -->
							<input class="form-control col" th:field="*{email}" type="email" required pattern=".*@.*\..*">
							<div class="valid-feedback">必須項目／メールアドレス形式</div>
							<div class="invalid-feedback">必須項目／メールアドレス形式</div>
						</div>

						<div class="form-group form-row">
							<label class="col-4" for="password">パスワード</label>
							<!--  -->
							<input class="form-control col" th:field="*{password}" type="password" required pattern="^[a-zA-Z0-9]{8,16}">
							<div class="valid-feedback">必須項目／半角英数／8～16文字</div>
							<div class="invalid-feedback">必須項目／半角英数／8～16文字</div>
						</div>

						<div class="row">
							<div class="offset-8 col-4">
								<button class="btn btn-primary btn-block">登録</button>
							</div>
						</div>

					</form>

				</div>

				<div class="list-group mt-5">
					<div class="list-group-item">
						<a href="#" th:href="@{/login}">ログイン</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="list-group">
					<div class="list-group-item">
						<a class="fas fa-list" th:href="@{/user}" title="一覧">&nbsp;一覧</a>
					</div>
					<div class="list-group-item">
						<a class="fas fa-user-plus" th:href="@{/user/add}" title="登録">&nbsp;新規登録</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

