<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="h-100" layout:decorator="_common/layout">

<head>

<meta charset="UTF-8">
<link rel="contents" th:href="@{/user}" id="index_url">

<title>USERS</title>

</head>

<body>
	<div layout:fragment="contents" class="pt-5">

		<h2 class="card-title">ユーザー一覧</h2>

		<div class="row">
			<div class="col-8">
				<table class="table table-bordered " id="users">
					<thead>
						<tr>
							<th>アカウント</th>
							<th>メール</th>
							<th>有効</th>
							<th>権限</th>
							<th>アクション</th>
						</tr>
					</thead>
					<tbody th:each="user : ${list}" th:object="${user}">
						<tr>
							<td class="text-left" th:text="*{username}">USERNAME</td>
							<td class="text-left" th:text="*{email}">EMAIL</td>
							<td class="text-center" th:text="*{enabled}">ACCEPT</td>
							<td class="text-center" th:text="*{roles.size()}">ROLE</td>
							<td>
								<div>
									<!--  -->
									<a class="btn btn-sm btn-primary fas fa-edit p-1" th:href="@{/user/{id}(id=*{id})}" title="編集"></a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col">
				<div class="list-group">
					<div class="list-group-item">
						<a class="fas fa-user-plus" th:href="@{/user/add}" title="編集">&nbsp;新規登録</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

