<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    class="h-100" 
    layout:decorator="_common/layout">

<head>

<meta charset="UTF-8">
<link rel="contents" th:href="@{/}" id="index_url">

<title>LOGIN</title>

</head>

<body class="h-100">

	<div layout:fragment="contents" class="pt-5">

		<div class="w-50 m-auto">

			<div class="card">
				<form class="card-body needs-validation" novalidate th:object="${form}" method="POST" th:action="@{/login}">

					<div class="form-group form-row">
						<label class="col-4" for="username">アカウント</label>
						<!--  -->
						<input class="form-control col" th:field="*{username}">
					</div>

					<div class="form-group form-row">
						<label class="col-4" for="password">パスワード</label>
						<!--  -->
						<input class="form-control col" th:field="*{password}" type="password">
					</div>

					<div class="row">
						<div class="offset-8 col-4">
							<button class="btn btn-primary btn-block">ログイン</button>
						</div>
					</div>
				</form>
			</div>
	
			<div class="list-group mt-5">
                <div class="list-group-item">
                    <a href="#" th:href="@{/password/reminder}">パスワードを忘れた型はこちら</a>
                </div>
                <div class="list-group-item">
                    <a href="#" th:href="@{/signup}">新規登録</a>
                </div>
			</div>
        </div>

	</div>

</body>

</html>

